.columnsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.singleColumn {
  border: 3px solid gray;
  min-height: 300px;
  min-width: 300px;
  height: 100%;
}

.one {
  overflow: scroll;
  height: 90%;
  margin: 0 3px 6px;
  overflow-y: auto;
  overflow-x: hidden;
}