.columnsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.singleColumn {
  border: 3px solid gray;
  min-height: 300px;
  min-width: 300px;
  height: 100%;
}

.one {
  overflow: scroll;
  height: 90%;
  margin: 0 3px 6px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cardItem {
  border: 2px solid;
  margin: 5px auto;
  list-style: none;
}

.moveModal {
  display: none;
}

.modalShowing {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 250px;
  width: 250px;
  background-color: aqua;
  z-index: 3;
  transform: translate(-50%, -50%);
  display: block;
}